 *{
    padding:0;
    margin:0;
}


header{
   
    background-image:url(img2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size:cover;
   
   
}

.nav {
    position: absolute;
    height: 16px;

    color: black;
  
    margin-left: 59.5%;
  
    
}

.nav a {
    float: left;
    display: block; 
    color: black; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
   margin-left:20px;
   font-weight:bold;
   font-size:20px;
 
   
}
.button1 {
    background-color:orangered; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 10px;
  
}



.center-content {
    text-align: center;
    color: white;
    padding: 14%;
    font-size: medium;
    top:50%;
    left:50%;
   
   

}



button {
    border:none;
    outline: none;
    padding: 18px 25px;
    background-color:orangered;
    color: black;
    font-size: 18px;
    border-radius: 17px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 13px;
}
h1{
    padding-top: 80px;
    font-size: 75px;
   font-style::calc();
    color: black;
}

h3{
    padding:2.5%;
    color: black;
}